.rti--tag{
    background-color: #009EF7 !important;
    color: #FFFFFF !important;
    margin: 2px;
    padding-left:10px;
}

.rti--tag > button{
    color: #FFFFFF !important;
    margin-left: 5px;
    margin-right: 5px;
}