/* .isi img {
    max-width: 100%;
  } */

.image_resized {
  display: block;
  box-sizing: border-box;
}

.image_resized img {
  width: 100% !important;
  height: 100% !important;
}

.image_resized>figcaption {
  display: block;
}