.react-kanban-board {
  overflow-y: hidden !important;
  height: 98vh;
  width:100% !important;

  /* for drag scroll Start */
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  border-radius: '12px !important';
  /* transition: all 0.2s; */
  /* will-change: transform; */
  user-select: none;
  cursor: pointer;
  /* for drag scroll End */
}

.react-kanban-card-skeleton, .react-kanban-card, .react-kanban-card-adder-form{
  max-width:430px !important;
  min-width:430px !important;
  border-radius:10px !important;
}

.react-kanban-column:nth-child(1) {
  height: auto !important;
  left: 0;
  border-radius: 20px;
  z-index: 10;
  overflow: scroll;
  width:470px !important;
}
.react-kanban-column:nth-child(2) {
  overflow-x: visible;
  border:2px dashed #c3c3c3;
  background:#f3f3f3;
  width:470px !important;

}

.react-kanban-column {
  background-color: #ffffff;
  max-height: 95vh;
  overflow-x: visible;
  width:auto;

}

.react-kanban-column-header {
  background-color: #5E6278;
  text-align: center;
  border-radius: 6px;
  padding: 12px;
  color:#f1f1f1;
  margin-bottom: 16px;
}

.react-kanban-board.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
}


.react-kanban-card,.react-kanban-card-adder-form {
  background-color: #f1f1f1;
  border-radius: 0px !important;
  min-height: 85px;

  border-right-style:unet !important;
}




[data-rbd-droppable-id]::-webkit-scrollbar,
.react-kanban-board::-webkit-scrollbar {
  /* .react-kanban-board::-webkit-scrollbar { */
  width: 0px;
}

/* .react-kanban-card__title {
  border-bottom: 0px !important;
} */

[data-rbd-droppable-id] {
  height: auto !important;
  overflow-x: hidden;
  /* overflow-y: auto; */
  max-height: 85vh;
}

[data-rbd-droppable-id="board-droppable"] {
  height: initial;
  overflow-x: initial;
  overflow-y: initial;
}

.react-kanban-column:nth-child(2) {

  left: 0;
  border-radius: 20px;
  z-index: 10;
  
}

.react-kanban-card,.react-kanban-card-adder-form 
 {
    box-sizing:border-box;
  }
.react-kanban-card--dragging{ box-shadow:2px 2px grey }

.yellow-text {
  background-color: #ffff0073;
  padding: 0 6px;
  float: right;
  border-radius: 6px;
}



* {
  margin: 0;
  padding: 0;
}
