.react-kanban-board {
  overflow-y: hidden !important;
  height: 98vh;

  /* for drag scroll Start */
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  border-radius: '12px !important';
  /* transition: all 0.2s; */
  /* will-change: transform; */
  user-select: none;
  cursor: pointer;
  /* for drag scroll End */
}

.react-kanban-column:nth-child(1) {
  position: relative !important;
  height: 135vh !important;
  left: 0;
  border-radius: 20px;
  z-index: 10;
  overflow: scroll;
  width: 60% !important;
}
.react-kanban-column:nth-child(2) {
  max-height: 135vh;
  overflow-x: visible;
  width: 75% !important;
}

.react-kanban-column {
  background-color: #ffffff;
  max-height: 95vh;
  overflow-x: visible;
}

.react-kanban-column-header {
  background-color: #d37676;
  text-align: center;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 16px;
}

.react-kanban-board.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.react-kanban-card,.react-kanban-card-adder-form {
  background-color: #f1f1f1;
  border-radius: 0px !important;
  min-height: 85px;
  min-width: 350px;
  max-width: 350px;
  
  border-right-style:unet !important;
}




[data-rbd-droppable-id]::-webkit-scrollbar,
.react-kanban-board::-webkit-scrollbar {
  /* .react-kanban-board::-webkit-scrollbar { */
  width: 0px;
}

/* .react-kanban-card__title {
  border-bottom: 0px !important;
} */

[data-rbd-droppable-id] {
  height: auto !important;
  overflow-x: hidden;
  /* overflow-y: auto; */
  max-height: 85vh;
}

[data-rbd-droppable-id="board-droppable"] {
  height: initial;
  overflow-x: initial;
  overflow-y: initial;
}

.react-kanban-column:nth-child(2) {
  height: 95vh !important;
  left: 0;
  border-radius: 20px;
  z-index: 10;
  
}

.react-kanban-card,.react-kanban-card-adder-form 
 {
    box-sizing:border-box;
    max-width:350px;
    min-width:350px
  }
.react-kanban-card--dragging{ box-shadow:2px 2px grey }

.yellow-text {
  background-color: #ffff0073;
  padding: 0 6px;
  float: right;
  border-radius: 6px;
}
